<?php

/**
 * Database settings
 *
 * Copy this file, remove ".dist" from name and replace with your data.
 */

 define('DB_HOST', '');
 define('DB_NAME', '');
 define('DB_USER', '');
 define('DB_PASS', '');
